:root {
  --primary-color: #e50914;
  --secondary-color: #0077cc;
  --gray-color: #e0e0e0;
  --text-color: #333;
  --hover-color: #b20710;
  --hero-hover-color: #cc4700;
  --highlight-color: yellow;
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-heavy: 0 6px 12px rgba(0, 0, 0, 0.2);
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}

.logo img {
  height: auto;
  width: 120px;
  margin-right: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.buttons {
  display: flex;
}

.button {
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.login-button {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow-light);
}

.login-button:hover {
  background-color: var(--hover-color);
  box-shadow: var(--box-shadow-heavy);
}

.sign-up-button {
  background-color: var(--gray-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow-light);
}

.sign-up-button:hover {
  background-color: #cccccc;
  box-shadow: var(--box-shadow-heavy);
}

.hero,
.hero2,
.hero3 {
  text-align: center;
  padding: 10px 20px 60px;
  background-color: #fff;
  margin-top: 20px;
}

.hero h1,
.hero2 h1,
.hero3 h1 {
  font-size: 3.5em;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.hero h1:hover {
  color: var(--secondary-color);
}

.hero2 h1:hover {
  color: var(--hero-hover-color);
}

.hero3 h1:hover {
  color: var(--highlight-color);
}

.hero h2 {
  font-size: 2.2em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.image-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.image-grid img {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: var(--box-shadow-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-grid img:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-heavy);
}

footer {
  background-color: var(--text-color);
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #ddd;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #fff;
}

.footer-links {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .nav-links li {
    margin-right: 10px;
  }

  .login-button {
    margin-left: auto;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .buttons {
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
  }

  .hero h1 {
    font-size: 2.5em;
  }

  .hero h2 {
    font-size: 1.8em;
  }

  .image-grid {
    flex-direction: column;
    align-items: center;
  }

  .image-grid img {
    width: 90%;
    max-width: 330px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .hero h1 {
    font-size: 2em;
  }

  .hero h2 {
    font-size: 1.5em;
  }

  .buttons {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .button {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .image-grid img {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
}
